
/* GENERAL STYLES */
.html {
  font-size: 62.5%; /* CSS trick to scale rem-to-px ratio perfectly */
}

.tigerpool-container {
  
}

/* MOBILE-FIRST STYLES  */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,0.6);
}

.navbar-brand {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.hidden {
  display: block;
}
.driver-dash-link {
  display: none;
  padding: 6px 18px;
}

.loading {
  padding: 280px 250px;
  text-align: center;
}

.trip-details-container {
  width: 100%;
  align-items: center;
}

.trip-details-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.trip-logistics, .trip-rules, .trip-cost {
  margin: 0 auto 0 0;
}

.view-requests-content-left {
  display: flex;
  flex-flow: column wrap;
}

.view-requests-content-right {
  
}

.trip-details-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.trip-details-info p {
  margin: 0;
}

.view-requests-container {
  width: 100%;
  align-items: center;
}

.view-requests-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
}

/* MEDIA QUERY BREAKPOINTS  */

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .driver-dash-link {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .table {
    display: table;
  }
  .trip-details-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .trip-details-wrapper {
    max-width: 992px;    
  }
  .trip-logistics, .trip-rules, .trip-cost {
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .hidden {
    display: none;
  }
  .navbar {
    padding: .5rem 4rem;
  }
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .trip-details-wrapper {
    display: flex;
    flex-flow: row;
    width: 90%;
    max-width: none;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .trip-details-info {
    display: flex;
    flex-flow: column;
  }
  .trip-logistics, .trip-rules, .trip-cost {
    margin: 0;
  }
  .table {
    max-width: 700px;
    height: 50vh;
  }
}
/* Components */
.login-container{
  display:flex;
  flex-direction:column;
  align-content: center;
  align-items: center;
  height: 87.5vh;
}

.login-element{
  padding: 5px;
} 
.spacer{
  margin: 5rem;
}

/* Driver Registration CSS START */
.App-link {
  text-decoration-line: none
}

.App-link:hover {
  text-decoration-line: underline
}

.form-group {
  width: 100%
}

.form-control {
  border: 2px solid #ccc;
  padding: 10px; 
}

.control-error {
  border: 2px solid red;
}

.disabled-link {
  pointer-events: none;
  color: rgba(0,0,0,0.6)
}

.disabled-link:hover {
  text-decoration-line: none
}

.form-card-title {
  font-weight: bold;
  font-size: x-large;
}

.form-card-row {
  margin: 75px 0;
}
/* Driver Registration CSS END */

.search{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;

}
.search-items{
  flex-basis:20%;
}
.icon{
  object-fit: contain;
}